* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(231, 218, 208);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  display: inline-block;
  width: 100%;
}

.bra-container {
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 250px;
  right: 0px;
  z-index: 10;
}

.can-container {
  width: 600px;
  height: 600px;
  position: absolute;
  bottom: -250px;
  right: -75px;
}

.blob-container {
  width: 1000px;
  height: 1000px;
  position: absolute;
  bottom: -300px;
  right: -350px;
  z-index: -10;
  transform: rotate(-15deg);
}

main {
  /* background-color: rgb(230, 226, 218); */
  min-height: 80vh;
  width: 80%;
  max-width: 1200px;
  border-radius: 20px;
  /* background-image: url("image.png"); */
  /* background-position: 20% 0; */
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0 0 0 0.1);
  /* box-shadow: 10px 10px 10px brown; */
  box-shadow: 0 0 2rem -0.5rem rgb(0 0 0/0.3);
  /* padding: 5%; */
}

.selectUser {
  display: inline;
}

.selectUser li {
  display: inline;
}

footer {
  /* border: 3px solid red; */
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 100;
  display: flex;
  padding: 2% 5% 2% 5%;

  justify-content: space-between;
}

.btn-user {
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(16, 29%, 60%);
  padding: 0.25em 0.5em;
  border-radius: 2px;
  transition: all 500ms;
}

.btn-user:hover {
  transform: translateY(-4px);
}

.btn-user-selected {
  border: 2px solid hsl(16, 29%, 60%);
  font-weight: bold;
  background-color: hsl(16, 29%, 60%);
  color: rgba(255, 255, 255, 0.8);
}

.buttonContainer {
  display: block;

  /* width: fit-content; */
  position: absolute;
  bottom: 10%;
  right: 5%;
  /* left: 20%; */
  /* border: 1px solid red; */
  /* width: 100%; */
  z-index: 30;
}

.btn {
  padding: 0.25em 0.75em;
  z-index: 30;
  font-size: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(0 0 0/0.2);
  border: none;
  outline: none;
  font-weight: 300;
  letter-spacing: 3px;
}

.hide {
  display: none;
}

.questionContainer {
  /* width: 80%; */
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 1rem 2rem 1rem;
  color: rgba(0 0 0/0.7);
  z-index: 100;
  /* border: 1px solid red; */
}

.questionHeader,
.answerHeader {
  margin-bottom: 2rem;
  text-align: left;
  /* border: 1px solid black; */
  width: 100%;
  color: hsl(16, 29%, 60%);
  z-index: 100;
}

.question {
  /* border: 1px solid black; */
  width: 100%;

  font-weight: bold;
  font-size: 2rem;
  text-align: left;
}

.answer {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  text-align: left;
}

.hide {
  display: none;
}

@media only screen and (max-width: 900px) {
  .bra-container {
    width: 200px;
    height: 200px;
    z-index: 10;
    bottom: 150px;
  }
  .can-container {
    height: 300px;
    width: 300px;
    right: -20px;
    bottom: -120px;
    z-index: 5;
  }

  .blob-container {
    height: 700px;
    width: 700px;
    bottom: -250px;
    right: -300px;
    z-index: -10;
    transform: rotate(-20deg);
  }

  .questionContainer {
    margin-right: 10%;
  }

  .btn {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    height: 100vh;
    box-shadow: none;
    border-radius: 0;
  }
}

@media only screen and (max-width: 450px) {
  footer {
    background-color: rgb(0 0 0/0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    border-radius: 0;
  }
}
